{% extends "::template/default.html.twig" %}

{% block title %}AppBundle:Category:edit{% endblock %}

{% block body %}
    <h1>Welcome to the category:edit page</h1>
    {{ form(form) }}
{% endblock %}
