{% extends '::template/loggin.html.twig' %}
{% block title %}
    Password recovery
{% endblock %}
{% block body %}
    <div class="sign_in_container">
        <div class="about_header_container" align="center">
            <div class="about_header">
                <img src="{{ asset('img/favicon.png') }}" alt="" class="header_title_img">
                <h5 class="header_title_text">IOT PLATFROM <span class="colored">ENIT</span></h5>
            </div>
        </div>
        <div class="sign_in_header">
            <h1>Already requested!</h1>
        </div>
        <p class="about_header_text" align="center">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
        </p>
        <a class="button button-sm sign_in_action" href="{{ path('fos_user_security_login') }}">Log In</a>

    </div>
{% endblock body %}
